@use "../../variables" as *;
@use "../../utilities" as *;

h1 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    margin-right: 10%;
}

h2 {
    font-size: $fontsize-l;
}

.news {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 20%;
    height: 10%;
    color: $black;
    background-color: $gray_gainsboro;
    padding: 2%;
}
