@use "../../variables" as *;

.news-more {
    display: flex;
    align-items: center;
    color: $black;
    transition: color 0.2s ease;
    text-decoration: none;
    width: 114px;

    &:hover {
        color: $gray_nobel;
        text-decoration: none;
    }
    .news-more-text {
        font-size: $fontsize-s;
        margin: 0px 16px 0px 0px;
    }
    .fas {
        width: 14px;
        height: 14px;
    }
}
