@use "../../variables" as *;

.newsmore {
    font-size: $fontsize-s;
    display: flex;
    align-items: center;
    color: $black;
    transition: color 0.2s ease;
    vertical-align: middle;
}

.newsmore:hover {
    color: $gray_nobel;
    text-decoration: none;
}

.newsmore-wrapper {
    margin-right: 16px;
    display: flex;
    align-items: center;
}
