.menu1 ul li:nth-child(1) {
    background-color: $gray_gainsboro;
    border: $gray_desertStorm solid 1px;
    text-align: center;
    padding: 20px;
}
.menu1 ul li:nth-child(2) {
    background-color: $gray_nobel;
    border-left: $gray_desertStorm solid 1px;
    border-right: $gray_nobel solid 1px;
    text-align: center;
    padding-top: 20px;
    font-size: $fontsize-l;
}

.menu1 ul li:nth-child(3) {
    background-color: $gray_nobel;
    border-left: $gray_desertStorm solid 1px;
    border-right: $gray_desertStorm solid 1px;
    border-bottom: $gray_desertStorm solid 1px;
    text-align: center;
    padding-bottom: 20px;
}

.menu1 ul li:nth-child(4) {
    border-left: $gray_desertStorm solid 1px;
    border-right: $gray_desertStorm solid 1px;
    border-bottom: $gray_desertStorm solid 1px;
    text-align: center;
    padding: 20px;
}

.menu1 ul li:nth-child(5) {
    border-left: $gray_desertStorm solid 1px;
    border-right: $gray_desertStorm solid 1px;
    border-bottom: $gray_desertStorm solid 1px;
    text-align: center;
    padding: 20px;
}

.menu1 ul li:nth-child(6) {
    border-left: solid 1px;
    border-right: $gray_desertStorm solid 1px;
    border-bottom: $gray_desertStorm solid 1px;
    text-align: center;
    padding: 20px;
}
.menu1 ul li:nth-child(7) {
    border-left: $gray_desertStorm solid 1px;
    border-right: $gray_desertStorm solid 1px;
    border-bottom: $gray_desertStorm solid 1px;
    text-align: center;
    padding: 20px;
}

.menu1 ul {
    list-style: none;
    width: 450px;
}

.menu2 ul li:nth-child(1) {
    background-color: rgb(11, 11, 165);
    color: white;
    border: rgb(11, 11, 165) 4px solid;
    text-align: center;
    padding: 20px;
}
.menu2 ul li:nth-child(2) {
    background-color: #acddeb;
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
}

.menu2 ul li:nth-child(3) {
    background-color: #acddeb;
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    border-bottom: gray solid 1px;
    text-align: center;
    padding-bottom: 20px;
}

.menu2 ul li:nth-child(4) {
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    border-bottom: gray solid 1px;

    text-align: center;
    padding: 20px;
}

.menu2 ul li:nth-child(5) {
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    border-bottom: gray solid 1px;

    text-align: center;
    padding: 20px;
}

.menu2 ul li:nth-child(6) {
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    border-bottom: gray solid 1px;
    text-align: center;
    padding: 20px;
}
.menu2 ul li:nth-child(7) {
    border-left: rgb(11, 11, 165) 4px solid;
    border-right: rgb(11, 11, 165) 4px solid;
    border-bottom: rgb(11, 11, 165) 4px solid;

    text-align: center;
    padding: 20px;
}

.menu2 ul {
    list-style: none;
    width: 450px;
}
