<div class="menu1">
    <ul>
        <li>デイタイムプラン</li>
        <li><small>￥</small>5,000</li>
        <li><small>月額</small> </li>
        <li>入会金0円</li>
        <li>平日：9時～17時</li>
        <li>土日祝：利用なし</li>
        <li>コアタイムでの利用に最適なプラン</li>
    </ul>
</div>
<div class="menu2">
    " <ul>
        <li>スタンダードプラン</li>
        <li><small>￥</small>15,000 </li>
        <li><small>月額</small></li>
        <li>入会金0円</li>
        <li>平日：17時～23時</li>
        <li>土日祝：営業時間全て</li>
        <li>営業時間内で終日利用可能なプラン</li>
    </ul>
</div>