<div class=plan>
    <dl class="plan-wrapper">
        <dt class="plan-title">デイタイムプラン</dt>
        <dd><span class="plan-price">5,000</span>
            <span class="plan-price-sub">月額</span>
        </dd>
        <dd>入会金0円</dd>
        <dd>平日：9時～17時</dd>
        <dd>土日祝：利用なし</dd>
        <dd>コアタイムでの利用に最適なプラン</dd>
    </dl>

    <dl class="plan-wrapper">
        <dt class="plan-title">スタンダードプラン</dt>
        <dd><span class="plan-price">15,000 </span>
            <span class="plan-price-sub">月額</span>
        </dd>
        <dd> 入会金0円</dd>
        <dd>平日：17時～23時</dd>
        <dd>土日祝：営業時間全て</dd>
        <dd>営業時間内で終日利用可能なプラン</dd>
    </dl>
</div>
