@use "../../variables" as *;

.news h1 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    margin-right: 16px;

    @media (min-width: $grid-breakpoints-md) {
        height: 57px;
        font-size: $fontsize-xxl;
    }
}

.news h2 {
    font-size: $fontsize-m;
}

.news {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $black;
}
