@use "../../variables" as *;

.plan-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  > * {
    margin: 0;
    width: auto;
    text-align: center;
    color: $black;
  }

  .plan-title {
    padding: 20px 8px;
    background-color: $orange_zorba;
    font-size: $fontsize-l;
    line-height: 29px;
    color: $white;
  }

  dd {
    padding: 20px 10px;
    border: 1px solid $gray_gainsboro;
    border-top: none;
    font-size: $fontsize-s;
    line-height: 20px;

    &:nth-child(2) {
      padding: 24px 0;
      border-top: 1px solid $gray_gainsboro;
      background-color: $gray_desertStorm;

      .plan-price-text {
        display: block;
        margin-bottom: 16px;
        height: 58px;
        font-size: $fontsize-xxl;
        line-height: 58px;
        font-weight: 700;
        color: $orange_bistre;

        &::before {
          content: "¥";
          margin-right: 4px;
          font-size: $fontsize-l;
        }
      }
    }
  }

  @media screen and (min-width: $grid-breakpoints-md) {
    margin-bottom: 0;
  }
}

.plan-table-emphasized {
  border: 5px solid $orange_bistre;

  .plan-title {
    padding-top: 15px;
    background-color: $orange_bistre;
  }

  dd:last-child {
    padding-bottom: 15px;
  }
}
