@use "../../variables" as *;

.top-wrapper {
    background: url(top-image.png);
    background-size: cover;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-wrap {
        font-size: $fontsize-l;
        font-family: $fontfamily-mincho;
        color: $white;
        @media (min-width: $grid-breakpoints-lg) {
            font-size: $fontsize-xl;
        }
    }

    @media (min-width: $grid-breakpoints-lg) {
        height: 700px;
    }
}

.message-wrapper {
    display: flex;
    justify-content: center;
    background-color: $black;

    .message {
        padding: 32px;
        color: $white;
        @media (min-width: $grid-breakpoints-lg) {
            padding: 52px 36.5px 52px 74px;
        }
    }
}
