<section class="news-list">

    <div class="news">
        <h2 class="news-title">News</h2>
        <span class="news-title-sub">お知らせ</span>
    </div>

    <div class="news-article-wrapper">
        <a href="#">
            <article>
                <time datetime="2018-6-20">2018.06.20</time>
                <p>ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました</p>
            </article>
        </a>
        <a href="#">
            <article>
                <time datetime="2018-8-16">2018.06.18</time>
                <p>3種のレイアウトから選択できるテンプレートを固定ページに実装</p>
            </article>
        </a>
        <a href="#">
            <article>
                <time datetime="2018-6-12">2018.06.12</time>
                <p>利用者からのご質問をまとめた「FAQ」ページをアップしました。</p>
            </article>
        </a>
        <a href="#">
            <article>
                <time datetime="2018-6-8">2018.06.08</time>
                <p> デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？ </p>
            </article>
        </a>
        <a href="#">
            <article>
                <time datetime="2018-6-2">2018.06.02</time>
                <p>テーマのアップデート情報について</p>
            </article>
        </a>
    </div>

    <a href="#" class="news-more">
        <p class="news-more-text">お知らせ一覧</p>
        <i class="fas fa-chevron-right"></i>
    </a>


</section>
