<section class="news-list">

  <div class="news">
    <h2 class="news-title">恋愛コラム</h2>
    <span class="news-title-sub">love story</span>
  </div>

  <div class="news-article-wrapper">
    <a href="#">
      <article>
        <time datetime="2021-6-20">2021.06.20</time>
        <p>恋愛の仕方が分からない人へ→あなたが望んでいるのは恋or彼氏？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2021-7-16">2021.07.18</time>
        <p>私って恋愛欠食女子？胸キュンってなんだろう…？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2021-7-12">2021.07.12</time>
        <p>恋活を始めたいけどまずはどうするべき？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2018-8-8">2018.08.08</time>
        <p> 最後は神頼み、恋愛運UPの方法はある？ </p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2018-8-12">2018.08.12</time>
        <p>男性医師と本気で恋愛したい人限定！男性医師の誘い方</p>
      </article>
    </a>
  </div>

  <a href="#" class="news-more">
    <p class="news-more-text">コラム一覧</p>
    <i class="fas fa-chevron-right"></i>
  </a>


</section>
