@use "../../variables" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20px;

  @media (min-width: $grid-breakpoints-md) {
    padding: 52px 20px;
  }

  .text {
    font-size: $fontsize-s;
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  i {
    padding: 0 7px;
    color: $black;

    &:hover {
      color: $gray_nobel;
    }
  }
}

ul {
  border-top: 1px solid $gray_nobel;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  background: $white_smoke;
  margin: 0;

  li {
    padding: 4px;
    list-style: none;
    width: 50%;
    font-size: $fontsize-s;

    @media (min-width: $grid-breakpoints-md) {
      border-right: 1px solid $black;
      width: auto;
      padding: 8px;

      &:last-child {
        border-right: none;
      }
    }

    a {
      color: $black;
      transition: 0.2 ease;

      &:hover {
        color: $orange_bistre;
        text-decoration: none;
      }
    }
  }
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding: 16px;
  font-size: $fontsize-xs;
  color: $white;
}
