<footer>
  <div class="contact">
    <a href="#" class="logo-wrapper"></a>
    <div class="info">
      〒100-0002
      東京都千代田区皇居外苑1-1<br />
      電話番号 03-3231-5509 (平日 8:30〜17:00) 　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </div>
    <ul class="sns-list">
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-rss"></i></a>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">SERVICE</a>
      </li>
      <li>
        <a href="#">INTERVIEW</a>
      </li>
      <li>
        <a href="#">ACCESS</a>
      </li>
      <li>
        <a href="#">CONCEPT</a>
      </li>
      <li>
        <a href="#">FLOOR</a>
      </li>
      <li>
        <a href="#">BLOG</a>
      </li>
      <li>
        <a href="#">DOWNLOAD</a>
      </li>
    </ul>
  </nav>
  <div class="copyright">
    <small>Some people feel the rain. Others just get wet. All Rights Reserved.</small>
  </div>
</footer>
