@use "../../variables" as *;

.message-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 20px;
  color: $black;

  @media screen and (min-width: $grid-breakpoints-lg) {
    padding: 52px 20px;
  }

  .title-text {
    margin-bottom: 6px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    line-height: 1.5;
    font-weight: normal;

    @media screen and (min-width: $grid-breakpoints-lg) {
      margin-bottom: 10px;
      font-size: $fontsize-xl;
    }
  }

  .explanation-text {
    margin: 0;
    font-size: $fontsize-s;
    line-height: 2;

    @media screen and (min-width: $grid-breakpoints-lg) {
      line-height: 2.6;
    }
  }
}
