@use "../../variables" as *;
@use "../../utilities" as *;
h1{background-color: black;
 color: white;
font-size: x-large;
position: static;
font-family: Noto Serif JP;
text-align: center;
line-height: 80px;
margin: 0px 0px;
flex: none;
order: 0;
flex-grow: 0;}

h3{
position: static;
left: 0px;
top: 0px;
font-family: $fontsize-example;
font-size: small;
line-height: 36px;
flex-grow: 0;
margin: 0px 0px;
text-align: center;
background-color: black;
color:white;
flex: none;
order: 0;}
