<section id="plans" class="container">
  <div class="message-wrapper">
    <h2 class="title-text">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="explanation-text">
      年間10万組のカップルが誕生する婚活サイト！<br>
      「マッチングまで」ではなく「会うまで」を手厚くサポートするから、真剣に活動している方とのまじめな出会いが見つかる！<br />
    </p>
  </div>
  <div class="row plan-table-container">
    <div class="col-12 col-md-4">
      <dl class="plan-table">
        <dt class="plan-title">ノーマルプラン</dt>
        <dd>
          <span class="plan-price-text">25,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金10,000円</dd>
        <dd>相手のスペック☆☆★</dd>
        <dd>平日：9時～17時 / 土日祝 : 利用ナシ</dd>
        <dd>コアタイムでの利用に最適なプラン</dd>
      </dl>
    </div>
    <div class="col-12 col-md-4">
      <dl class="plan-table plan-table-emphasized">
        <dt class="plan-title">スタンダードプラン</dt>
        <dd>
          <span class="plan-price-text">35,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金15,000円</dd>
        <dd>相手のスペック☆★★</dd>
        <dd>平日：9時～17時 / 土日祝 : 営業時間全て</dd>
        <dd>営業時間内で終日ご利用可能なプラン</dd>
      </dl>
    </div>
    <div class="col-12 col-md-4">
      <dl class="plan-table">
        <dt class="plan-title">プレミアムプラン</dt>
        <dd>
          <span class="plan-price-text">50,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金25,000円</dd>
        <dd>相手のスペック★★★</dd>
        <dd>平日：営業時間全て/土日祝：営業時間全て</dd>
        <dd>フルに使いたい方のためのプレミアムなプラン</dd>
      </dl>
    </div>
  </div>
  <div class="button-wrapper"><a href="#" class="button">プラン料金</a></div>
</section>
