<section id="top">
  <div class="top-image-wrapper">
    <h2>
      そうだ。<br />
      恋愛しよう。
    </h2>
  </div>
  <div class="top-message-container">
    <div class="message-wrapper">
      <h2 class="title-text">
        いろんな恋と婚活を応援する
        マッチングアプリです。
      </h2>
      <p class="explanation-text">
        恋活、婚活、再婚、シンママ・シンパパ婚<br>
        中年婚、年の差婚、地方婚など<br>
        ひとりひとりに合った 人生の最高のパートナーを探す<br>
        お手伝いをいたします。<br>
      </p>
    </div>
  </div>
</section>

<section id="plans" class="container">
  <div class="message-wrapper">
    <h2 class="title-text">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="explanation-text">
      年間10万組のカップルが誕生する婚活サイト！<br>
      「マッチングまで」ではなく「会うまで」を手厚くサポートするから、真剣に活動している方とのまじめな出会いが見つかる！<br />
    </p>
  </div>
  <div class="row plan-table-container">
    <div class="col-12 col-md-4">
      <dl class="plan-table">
        <dt class="plan-title">ノーマルプラン</dt>
        <dd>
          <span class="plan-price-text">25,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金10,000円</dd>
        <dd>相手のスペック☆☆★</dd>
        <dd>平日：9時～17時 / 土日祝 : 利用ナシ</dd>
        <dd>コアタイムでの利用に最適なプラン</dd>
      </dl>
    </div>
    <div class="col-12 col-md-4">
      <dl class="plan-table plan-table-emphasized">
        <dt class="plan-title">スタンダードプラン</dt>
        <dd>
          <span class="plan-price-text">35,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金15,000円</dd>
        <dd>相手のスペック☆★★</dd>
        <dd>平日：9時～17時 / 土日祝 : 営業時間全て</dd>
        <dd>営業時間内で終日ご利用可能なプラン</dd>
      </dl>
    </div>
    <div class="col-12 col-md-4">
      <dl class="plan-table">
        <dt class="plan-title">プレミアムプラン</dt>
        <dd>
          <span class="plan-price-text">50,000</span>
          <span class="plan-price-subtext">月額</span>
        </dd>
        <dd>入会金25,000円</dd>
        <dd>相手のスペック★★★</dd>
        <dd>平日：営業時間全て/土日祝：営業時間全て</dd>
        <dd>フルに使いたい方のためのプレミアムなプラン</dd>
      </dl>
    </div>
  </div>
  <div class="button-wrapper"><a href="#" class="button">プラン料金</a></div>
</section>


<section id="cards" class="container">
  <div class="row row-cols-1 row-cols-md-3 card-container">
    <div class="card col">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">STABERRY</span>
        <img src="card1.jpg" class="card-img-top" alt="室内のイメージ" />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          内面を磨いてもっと自分に自信を持ちたい方へ。

          自信は、更なる魅力を引き出してくれます。

          ライバルのいる恋愛をしている人におすすめです。<br>定価15,000/本
          <a href="#" class="button card-button">購入はこちら</a>
      </div>
    </div>
    <div class="card col mx-md-4">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">LEMON</span>
        <img src="card2.jpg" class="card-img-top" />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          外見的な魅力をアップして、第一印象の魅力をアップしたい方へ。

          これから出会いを期待する人や、コンパの時などにおすすめ。<br>定価15,000/本
        </p>
        <a href="#" class="button card-button">購入はこちら</a>
      </div>
    </div>
    <div class="card col">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">WATERMELON</span>
        <img src="card3.jpg" class="card-img-top" />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          ちょっと彼氏とマンネリしてきた。

          旦那とのときめきが足りない。

          そんな方におすすめです。<br>定価15,000/本
        </p>
        <a href="#" class="button card-button">購入はこちら</a>
      </div>
    </div>
  </div>
</section>

<section class="news-list">

  <div class="news">
    <h2 class="news-title">恋愛コラム</h2>
    <span class="news-title-sub">love story</span>
  </div>

  <div class="news-article-wrapper">
    <a href="#">
      <article>
        <time datetime="2021-6-20">2021.06.20</time>
        <p>恋愛の仕方が分からない人へ→あなたが望んでいるのは恋or彼氏？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2021-7-16">2021.07.18</time>
        <p>私って恋愛欠食女子？胸キュンってなんだろう…？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2021-7-12">2021.07.12</time>
        <p>恋活を始めたいけどまずはどうするべき？</p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2018-8-8">2018.08.08</time>
        <p> 最後は神頼み、恋愛運UPの方法はある？ </p>
      </article>
    </a>
    <a href="#">
      <article>
        <time datetime="2018-8-12">2018.08.12</time>
        <p>男性医師と本気で恋愛したい人限定！男性医師の誘い方</p>
      </article>
    </a>
  </div>

  <a href="#" class="news-more">
    <p class="news-more-text">コラム一覧</p>
    <i class="fas fa-chevron-right"></i>
  </a>


</section>

<footer>
  <div class="contact">
    <a href="#" class="logo-wrapper"></a>
    <div class="info">
      〒100-0002
      東京都千代田区皇居外苑1-1<br />
      電話番号 03-3231-5509 (平日 8:30〜17:00) 　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </div>
    <ul class="sns-list">
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-rss"></i></a>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">SERVICE</a>
      </li>
      <li>
        <a href="#">INTERVIEW</a>
      </li>
      <li>
        <a href="#">ACCESS</a>
      </li>
      <li>
        <a href="#">CONCEPT</a>
      </li>
      <li>
        <a href="#">FLOOR</a>
      </li>
      <li>
        <a href="#">BLOG</a>
      </li>
      <li>
        <a href="#">DOWNLOAD</a>
      </li>
    </ul>
  </nav>
  <div class="copyright">
    <small>Some people feel the rain. Others just get wet. All Rights Reserved.</small>
  </div>
</footer>
