@use "../../variables" as *;
@use "../../utilities" as *;

h1 {
    background-color: $black;
    color: $white;
    font-size: $fontsize-xxl;
    font-family: $fontfamily-mincho;
    text-align: center;
    line-height: 60px;
    padding: 30px 30px;
}

h3 {
    font-size: $fontsize-l;
    line-height: 36px;
    background-color: $black;
    color: $white;
    padding: 30px 30px;
    text-align: center;
}
