@use "../../variables" as *;
@use "../../utilities" as *;

h1 {
    font-family: $fontfamily-mincho;
    padding-bottom: 3%;
}

.message2 {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 3%;
}
@media (min-width: $grid-breakpoints-sm) {
    h1 {
        font-size: $fontsize-m;
    }
    h3 {
        font-size: $fontsize-xs;
    }
}

@media (min-width: $grid-breakpoints-md) {
    h1 {
        font-size: $fontsize-l;
    }
    h3 {
        font-size: $fontsize-s;
    }
}
@media (min-width: $grid-breakpoints-lg) {
    h1 {
        font-size: $fontsize-xl;
    }
    h3 {
        font-size: $fontsize-m;
    }
}
@media (min-width: $grid-breakpoints-xl) {
    h1 {
        font-size: $fontsize-xxl;
    }
    h3 {
        font-size: $fontsize-m;
    }
}
