@use "../../variables" as *;
@use "../../utilities" as *;
<<<<<<< HEAD
=======
.assignment-example-button {
  color: $black;
  font-size: $fontsize-s;
}

.button {
  color: $white_smoke;
  font-size: $fontsize-l;
}
>>>>>>> 92587dfa7a5197a6ee54ebc198b81df3cff1662a
