@use "../../variables" as *;
@use "../../utilities" as *;

.button {
    font-size: $fontsize-s;
    color: $white;
    padding: 10px 10px;
    width: 150px;
    background: $black;
    border: solid 15px $gray_gainsboro;
}
.button:hover {
    color: $black;
    background-color: $white;
}
